---
- name: Deploy Ansible Tutorial Website
  hosts: workers
  become: true
  gather_facts: true

  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Copy website files
      copy:
        src: files/
        dest: /var/www/html/
        mode: '0644'

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
